<div class="bg"></div>
@if(auth.currentUser()) {
<ng-container
  [ngTemplateOutlet]="currentUser"
  [ngTemplateOutletContext]="{ user: auth.currentUser() }"
></ng-container>

}@else {
<div class="fab-container">
  <button
    mat-raised-button
    (click)="openUsers()"
    width="200"
    height="200"
    class="login-btn"
  >
    Wybierz użytkownika
  </button>
</div>
}

<ng-template #currentUser let-user="user">
  <div class="current-user">
    <p class="mat-h3">Jesteś zalogowany jako:</p>
    <a
      mat-button
      class="mat-h1"
      [routerLink]="['/user', user.id]"
      routerLinkActive="router-link-active"
      >{{ auth.currentUser()?.fname }} {{ auth.currentUser()?.lname }}</a
    >
  </div>
  <div class="fab-container">
    <button
      mat-raised-button
      (click)="openUsers()"
      width="200"
      height="200"
      class="login-btn"
    >
      Zmień użytkownika
    </button>
  </div>
</ng-template>
