<div class="container">
  <div style="text-align: right; margin-bottom: 10px">
    <mat-button-toggle-group
      name="fontStyle"
      aria-label="View Mode"
      #viewMode="matButtonToggleGroup"
      [value]="
        app.innerWidth() > 1200 ? localStorageConfig.viewModeValue : 'tiles'
      "
      (change)="onViewModeChange($event)"
      [ngStyle]="{ display: app.innerWidth() > 1200 ? 'inline-flex' : 'none' }"
    >
      <mat-button-toggle value="tiles"
        ><mat-icon>grid_view</mat-icon></mat-button-toggle
      >
      <mat-button-toggle value="table" *ngIf="app.innerWidth() > 1200"
        ><mat-icon>table_rows</mat-icon></mat-button-toggle
      >
    </mat-button-toggle-group>
  </div>
  <ng-container
    [ngTemplateOutlet]="tilesTemplate"
    *ngIf="viewMode.value === 'tiles'"
  ></ng-container>
  <ng-container
    [ngTemplateOutlet]="tableTemplate"
    *ngIf="viewMode.value === 'table'"
  ></ng-container>
</div>

<ng-template #tilesTemplate>
  <mat-grid-list
    [cols]="app.innerWidth() > 1200 ? 4 : app.innerWidth() > 540 ? 2 : 1"
    style="margin-left: -10px; margin-right: -10px; height: 100%"
  >
    <mat-grid-tile *ngFor="let user of users; let i = index">
      <app-user-card
        [user]="user"
        [truncateStrings]="true"
        [showDivider]="true"
        [showStatusBar]="true"
        [showTooltips]="true"
        [actionText]="'Wybierz'"
        class="card"
        (onActionButtonClick)="selectUser(users[i])"
      ></app-user-card>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>

<ng-template #tableTemplate>
  <table mat-table [dataSource]="dataSource">
    <!-- Last Name Column -->
    <ng-container matColumnDef="lname">
      <th mat-header-cell *matHeaderCellDef>Nazwisko</th>
      <td mat-cell *matCellDef="let element">{{ element.lname }}</td>
    </ng-container>

    <!-- First Name Column -->
    <ng-container matColumnDef="fname">
      <th mat-header-cell *matHeaderCellDef>Imię</th>
      <td mat-cell *matCellDef="let element">{{ element.fname }}</td>
    </ng-container>

    <!-- Birth Date Column -->
    <ng-container matColumnDef="birthDate">
      <th mat-header-cell *matHeaderCellDef>Data urodzenia</th>
      <td mat-cell *matCellDef="let element">
        {{ element.birthDate | date : "yyyy-MM-dd" }}
      </td>
    </ng-container>

    <!--Quantity of Cars Column -->
    <ng-container matColumnDef="qtyOfCars">
      <th mat-header-cell *matHeaderCellDef>Liczba pojazdów</th>
      <td mat-cell *matCellDef="let element">{{ element.qtyOfCars }}</td>
    </ng-container>

    <!--User Choice Button Column-->
    <ng-container matColumnDef="button">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-button
          (click)="selectUser(element)"
          style="margin: auto; width: 100%"
        >
          Wybierz
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10]"
    showFirstLastButtons
    aria-label="Wybór strony na liście użytkowników."
  >
  </mat-paginator>
</ng-template>

<ng-template #loggedUserText>
  <div
    class="mat-body-strong"
    style="text-align: center; margin: auto; width: 100%"
  >
    Zalogowany
  </div>
</ng-template>
