<div *ngIf="user$ | async as user" class="container">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-subtitle>
        <span
          [innerHTML]="
            isChildComponent ? (user.fname | ellipsis : 30) : user.fname
          "
          [matTooltip]="
            isChildComponent
              ? user.fname.length > 30
                ? user.fname
                : ''
              : user.fname
          "
        ></span>
      </mat-card-subtitle>
      <mat-card-title>
        <span
          [innerHTML]="
            isChildComponent ? (user.lname | ellipsis : 20) : user.lname
          "
          [matTooltip]="
            isChildComponent
              ? user.lname.length > 20
                ? user.lname
                : ''
              : user.lname
          "
        ></span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Data urodzenia:</p>
      <p>{{ user.birthDate | date : "yyyy-MM-dd" }}</p>
      <mat-divider *ngIf="isChildComponent"></mat-divider>
    </mat-card-content>
    <mat-card-actions *ngIf="isChildComponent">
      <button
        mat-button
        (click)="onSelectButtonClick()"
        style="margin: auto; width: 100%"
        *ngIf="user.id !== auth.currentUser()?.id; else loggedUserText"
      >
        Wybierz
      </button>
    </mat-card-actions>
    <mat-card-footer *ngIf="isChildComponent">
      <mat-progress-bar
        mode="determinate"
        [value]="user.id === auth.currentUser()?.id ? 100 : 0"
      ></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>

<ng-template #loggedUserText>
  <div
    class="mat-body-strong"
    style="text-align: center; margin: auto; width: 100%"
  >
    Zalogowany
  </div>
</ng-template>
