<mat-toolbar color="primary">
  <div class="container flex">
    @if(!isLoaded) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }@else {
    <button mat-icon-button aria-label="Back icon">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="spacer"></span>
    <span style="margin: auto">{{ routeTitle }}</span>
    <span class="spacer"></span>
    <button mat-icon-button  aria-label="Menu toggle icon">
      <mat-icon>menu</mat-icon>
    </button>
    }
  </div>
</mat-toolbar>
