@import "./assets/fonts/Roboto/index.css";
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  padding: 2%;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.bg {
  $blur: 5px;
  background-image: linear-gradient(
      rgb(255, 255, 255),
      rgba(103, 58, 183, 0.67)
    ),
    url("../src/assets/images/bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -$blur;
  left: -$blur;
  width: calc(100% + $blur * 2);
  height: calc(100% + $blur * 2);
  filter: blur($blur);
  z-index: -1;
}
